<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Python</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <h1>Online python interpretator</h1>
    <hr>
    <h4>YOUR CODE:</h4>

    <textarea class="code" id="code" cols="90" rows="10" placeholder="Enter your code">print('Hello, World!')</textarea><br>
    <h4>INPUT:</h4>
    <textarea class="input" id="input" cols="40" rows="4" placeholder="optional"></textarea><br>
    <p><button class="button_run" id="run">RUN</button></p>
    <hr>
    <p><button class="button_result" id="results" onClick="window.location.reload();">GET RESULTS</button></p>
    <p><button class="button_clear" id="clear" onClick="window.location.reload();">CLEAR</button></p>

    <table>
      <tbody>
        <thead>
          <tr>
            <th colspan="2">RESULT</th>
          </tr>
        </thead>
      {% for res in data %}
      <tr>
          <td id="number">{{ res.number }}</td>
          <td id="result", style="color: {{ res.color }}">{{ res.result }}</td>
        </tr>
      {% endfor %}
    </table>

    <script src="/static/script.js"></script>
  </body>
  </html>